<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plasma
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>A Esta Es!</title>
<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
<link href="../../../static/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="/">Inicio</a></li>
				<li><a href="cofradia.html">Cofradías</a></li>
				<li><a href="#">Pasos</a></li>
				<li><a href="#">Foro de Novedades</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
	</div>
	<div id="header">
		<div id="logo" class="container">
			<h1><a href="#">A Esta Es!</a></h1>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
				<h2><a href="#">Bienvenido a "A Esta Es!"</a></h2>
				<div class="entry">
					<p><strong>A Esta Es!</strong>, es una página libre sin ánimo de lucro en la que se muestra información sobre las cofradías de la Semana Santa de Sevilla. En ella se informa sobre su año de fundación, su sede canónica, el actual hermano mayor de la misma, entre otros datos.
					</p>
					<p>También se informa sobre los pasos que componen cada cofradía, así como información de ellos tales como el nombre del paso, el número de nazarenos, o los colores del atuendo que portan los nazarenos.
					</p>
					<p>Por último, se proporcionará un breve formulario en el que el usuario pueda comentar novedades en las respectivas cofradias (como el cambio de hermano mayor), o en los pasos (como un estreno en el paso de palio)
					</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar1">
			<div>
				<h2>Cofradías más relevantes</h2>
				<ul class="list-style2">
					<li class="first"><a href="#">Hermandad de La Esperanza Macarena</a></li>
					<li><a href="#">Hermandad de La Esperanza de Triana</a></li>
					<li><a href="#">Hermandad de El Gran Poder</a></li>
					<li><a href="#">Hermandad de La Estrella</a></li>
					<li><a href="#">Hermandad de Los Gitanos</a></li>
				</ul>
			</div>
		</div>
		<div id="sidebar2">
			<div>
				<h2>Pasos más relevantes</h2>
				<ul class="list-style2">
					<li class="first"><a href="#">El Gran Poder</a></li>
					<li><a href="#">La Macarena</a></li>
					<li><a href="#">Cristo de Los Gitanos</a></li>
					<li><a href="#">Esperanza Triana</a></li>
					<li><a href="#">Jesús Despojado</a></li>
					<li><a href="#">La Lanzada</a></li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
	</div>
	<!-- end #page -->
	
</div>
<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2>A Esta Es!</h2>
			<p>&copy; A Esta Es!</p>
			<p>All rights reserved.</p>
			<p>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
		</div>
		<div id="column2">
			<h2>Links Recomendados</h2>
			<ul class="list-style3">
				<li class="first"><a href="http://www.semana-santa.org/">Semana Santa Sevilla</a></li>
				<li><a href="http://sevilla.abc.es/pasionensevilla/">Pasión en Sevilla</a></li>
				<li><a href="http://www.hermandades-de-sevilla.org/">Consejo General de Hermandades y Cofradías de Sevilla</a></li>
			</ul>
		</div>
		<div id="column3">
			<h2>Social</h2>
			<ul class="list-style3">
				<li class="https://twitter.com/semanasantasev"><a href="#">Twitter</a></li>
				<li><a href="https://es-es.facebook.com/semanasantadesevilla">Facebook</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
